{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}, saison {{ season.number }} épisode {{ episode.number }}{% endblock %}

{% block body %}
    <div class="p-3">
        <h1>{{ program.title }}, saison {{ season.number }} épisode {{ episode.number }}</h1>
        <h2>{{ episode.title }}</h2>
        <p>{{ episode.synopsis }}</p>
        {% if episode.comments %}
            <ul>
                {% for comment in episode.comments %}
                    <li>
                        <p>{{ comment.comment }}</p>
                        <p>{{ comment.rate }}</p>
                    </li>
                    {% if is_granted("ROLE_ADMIN") or app.user is same as(comment.author) %}
                        {{ include('program/_delete_comment_form.html.twig', [comment]) }}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% if app.user %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}


